@{
    Layout = null;
}
<html lang="en">

<!-- Mirrored from www.traphaco.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 31 Mar 2018 09:45:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>


    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Template" />
    <meta name="COPYRIGHT" content="&copy; Template" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="google" content="notranslate" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/assets/7802a60d/img/favicon.ico" />
    <title>Traphaco</title>


    <!-- Core CSS -->
    <link href="/assets/7802a60d/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/fotorama.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/swiper.min.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/animate.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/style.css" rel="stylesheet" />
    <link href="/assets/7802a60d/css/custom.css" rel="stylesheet" />
    <link href="/assets/7802a60d/custom/mine.css" rel="stylesheet" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @Html.Partial("_Header")   
    @RenderBody()
    @Html.Partial("_Footer")
    <div class="go-top"><i class="icon16-arow-top"></i></div>
    @RenderSection("Script",false)


</body>
<!-- Mirrored from www.traphaco.com.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 31 Mar 2018 09:52:00 GMT -->
</html>